/* Center the login form on the screen */
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  /* background-color: #ff4242;  */
  /* No backgroud color */
  /* background-image: url('https://images.unsplash.com/photo-1557683316-973673baf926'); */
}

.login-form h2 {
  font-size: 34px;
  font-weight: 700;
  margin: 10px;
  text-align: center;
  background: linear-gradient(to right, #add8e6, #ffa07a); /* Light blue to smooth orange gradient */
  -webkit-background-clip: text;
  background-clip: text; /* Standard property for compatibility */
  -webkit-text-fill-color: transparent;
}

/* Style the form container */
.login-form form {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 2px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

/* Style the labels */
.login-form label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

/* Style the input fields */
.login-form input {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: calc(100% - 22px); /* Adjust width to account for padding and border */
}

/* Style the submit button */
.login-form button {
  padding: 10px;
  background-color: #6a0dad;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Change button background color on hover */
.login-form button:hover {
  background-color:  #4b067c; /* Darker blue background */
}